In [62]:
from string import ascii_uppercase

import numpy as np
import pandas as pd

cols = list(ascii_uppercase[:10])
np.random.seed(42)
data = np.random.randint(1, 100, size=(100_000, 10))
df = pd.DataFrame(data, columns=cols)
df.head()

    A   B   C   D   E   F   G   H   I   J
0  52  93  15  72  61  21  83  87  75  75
1  88  24   3  22  53   2  88  30  38   2
2  64  60  21  33  76  58  22  89  49  91
3  59  42  92  60  80  15  62  62  47  62
4  51  55  64   3  51   7  21  73  39  18

In [63]:
%%timeit
# groupby count values are floats
df.groupby(['A', 'B'])['C'].count().unstack().fillna(0)

8.99 ms ± 91.1 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [64]:
%%timeit
# pivot_table count values are integers
df.pivot_table(values='C', index='A', columns='B', aggfunc='count', fill_value=0)

35.7 ms ± 265 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [65]:
%%timeit
# crosstab count values are integers
pd.crosstab(df.A, df.B)

79.2 ms ± 423 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)